<config>
    <modules>
        <News>
            <version>0.2.0</version>
        </News>
    </modules>

    <admin>
        <routers>
            <!--Unique identifier-->
            <news>
                <use>admin</use>
                <args>
                    <module>News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
    </admin>

<frontend>
    <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>News</module>                         
                    <frontName>news</frontName>
                </args>
            </news>
    </routers>
    <layout>
        <updates>
            <news>
                <file>news.xml</file>
            </news>
        </updates>
    </layout>
 </frontend>
 
 
<global>
    <helpers>
        <news>
            <class>News_Helper</class>
        </news>
    </helpers>


    <models>
        <news>
             <class>News_Model</class>
            <resourceModel>news_mysql4</resourceModel>
        </news>
            <news_mysql4>
                <class>News_Model_Mysql4</class>
                        <entities>
                            <news>
                                <table>news</table>
                            </news>
                        </entities>
            </news_mysql4>
    </models>
    <resources>
        <news_write>
            <connection>
                <use>core_write</use>
            </connection>
        </news_write>
        <news_read>
            <connection>
                <use>core_read</use>
            </connection>
        </news_read>        
    </resources>
    <blocks>
        <news>
            <class>News_Block</class>
        </news>
    </blocks>



</global>
</config>